nav {
	background: #2196f3;
}

body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

p {
	font-size: 20px;
}

a {
	font-size: 28px;
}

ul {
	padding: 0;
}

li {
	font-size: 22px;;
}

.carousel {
	height: 550px;
}

.container {
}

.page-footer {
	background: #2196f3;
}